[menu:renderLeftMenu:4]
      
      <table class="menu catalog_tab">
        <tr>
          <td align="right">
            <img src="/images/menu_lefts.gif" alt="">
          </td>
          <td class="menu_tab catalog_tab">
            <a href="/?cat_id=13">N-серия</a>
          </td>
          <td>
            <img src="/images/menu_right.gif" alt="">
          </td>
        </tr>
      </table>
      <div class="submenu_tab">
        [menu:renderLeftMenu:10]
      </div>

      <table class="menu catalog_tab">
        <tr>
          <td align="right">
            <img src="/images/menu_lefts.gif" alt="">
          </td>
          <td class="menu_tab catalog_tab">
            <a href="/?cat_id=33">C-серия</a>
          </td>
          <td>
            <img src="/images/menu_right.gif" alt="">
          </td>
        </tr>
      </table>
      <div class="submenu_tab">
        [menu:renderLeftMenu:12]
      </div>

      <table class="menu catalog_tab">
        <tr>
          <td align="right">
            <img src="/images/menu_lefts.gif" alt="">
          </td>
          <td class="menu_tab catalog_tab">
            <a href="/?cat_id=42">E-серия</a>
          </td>
          <td>
            <img src="/images/menu_right.gif" alt="">
          </td>
        </tr>
      </table>
      <div class="submenu_tab">
        [menu:renderLeftMenu:11]
      </div>
