<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>[metadata_title]</title>
    <meta name="description" content="[metadata_description]">
    <meta name="keywords" content="[metadata_keywords]">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    [include_css_files]
    [include_js_files]
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">    
    [include_headers]
  </head>
<body>

<table class="header" border="0" align="center">
  <tr>
    <td align="center" class="logo">
      <a href="/"><img border="0" src="/images/logo.gif" alt="ISUZU в Новосибирске"></a><br>в Новосибирске
    </td>
    <td>

      <table class="menu" border="1">
        <tr>
          <td align="right"><img src="/images/menu_left.gif" alt=""></td>

          <td width="2"><img src="/images/menu_delim.gif"></td>
          <td class="menu_tab"><a href="/?cat_id=2">о компании</a></td>
          <td width="2"><img src="/images/menu_delim.gif"></td>
          <td class="menu_tab"><a href="/?cat_id=3">каталог</a></td>
          <td width="2"><img src="/images/menu_delim.gif"></td>
          <td class="menu_tab"><a href="/?cat_id=4">гарантия</a></td>
          <td width="2"><img src="/images/menu_delim.gif"></td>
          <td class="menu_tab"><a href="/?cat_id=5">запасные части</a></td>
          <td width="2"><img src="/images/menu_delim.gif"></td>
          <td class="menu_tab"><a href="/?cat_id=6">сервисная станция</a></td>
          <td width="2"><img src="/images/menu_delim.gif"></td>
          <td class="menu_tab"><a href="/?cat_id=7">кредит и лизинг</a></td>
          <td width="2"><img src="/images/menu_delim.gif"></td>
          <td class="menu_tab"><a href="/?cat_id=8">контакты</a></td>

          <td><img src="/images/menu_right.gif" alt=""></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="content_block" border="0" align="center">
  <tr>
    <td class="catalog_block" style="height:250px">

      <table class="menu catalog_tab">
        <tr>
          <td align="right">
            <img src="/images/menu_lefts.gif" alt="">
          </td>
          <td class="menu_tab catalog_tab">
            <a href="/?cat_id=10">N-серия</a>
          </td>
          <td>
            <img src="/images/menu_right.gif" alt="">
          </td>
        </tr>
      </table>

      <table class="menu catalog_tab">
        <tr>
          <td align="right">
            <img src="/images/menu_lefts.gif" alt="">
          </td>
          <td class="menu_tab catalog_tab">
            <a href="/?cat_id=11">E-серия</a>
          </td>
          <td>
            <img src="/images/menu_right.gif" alt="">
          </td>
        </tr>
      </table>

      <table class="menu catalog_tab">
        <tr>
          <td align="right">
            <img src="/images/menu_lefts.gif" alt="">
          </td>
          <td class="menu_tab catalog_tab">
            <a href="/?cat_id=12">C-серия</a>
          </td>
          <td>
            <img src="/images/menu_right.gif" alt="">
          </td>
        </tr>
      </table>

    </td>
    <td class="content_block">

      <table>
        <tr>
          <td style="font-size:18px;text-align:left;width:80%"><a style="font-size:18px;color:#000" href="/">Главная</a> / Страница не найдена</td>
        </tr>
        <tr>
          <td class="main_content">

          <br><p>Страница, к которой Вы обратились, не существует. Возможно неправильно набран адрес?</p>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="footer" border="0" align="center">
  <tr>
    <td class="copyright" align="left">
        &copy;Copyright 2011, <em>ISUZU в Новосибирске</em><br>
        <a href="http://www.inet-s.ru/design.htm">Разработка сайта</a> - Инет Сервис
    </td>
    <td align="right">
      <div class="contacts">
        отдел продаж: тел. (383) 317-56-52, 317-56-25, 352-39-68<br>
        email: isuzu@novosibarz.ru
      </div>
    </td>
  </tr>
</table>

</body>
</html>