<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>[metadata_title]</title>
    <meta name="description" content="[metadata_description]">
    <meta name="keywords" content="[metadata_keywords]">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    [SimplePage:add_css_file:system.css]
    [SimplePage:add_css_file:main.css,/css]
    [SimplePage:add_js_file:js_config.php]
    [SimplePage:add_js_file:jquery.min.js]
    [SimplePage:add_js_file:common.js]
    [SimplePage:add_js_file:map2.js]
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">    
    [include_headers]
  </head>
<body onLoad="getMap()">

<table class="header" border="0" align="center">
  <tr>
    <td class="logo">
      <a href="/"><img src="/images/b.gif" border="0" style="width:200px;height:150px"></a>
    </td>
    <td class="slogan">

    <img src="/images/slogan_image.png" align="right" style="margin-left:30px">

Компьютер выдает только то, что в него ввели. Секрет успеха не информация, но люди.
<br>
<div style="float:right">Л. Якокка</div>

<br><br><br>
ООО "ИТ Сервис" предлагает комплексное обслуживание вычислительной техники Вашего офиса.


    </td>
  </tr>
  <tr>
    <td class="second_bg">&nbsp;</td>
    <td class="address">

    <br>
    <br>

г. Новосибирск, ул. Обогатительная, 6, тел: 263-12-43

   </td>
  </tr>
  <tr>
    <td class="header_bottom_3rd">&nbsp;</td>
    <td class="header_bottom_4rd">&nbsp;</td>
  </tr>
</table>

<table class="content" border="0" align="center">
  <tr>
    <td class="menu" valign="top">
      <div class="menu_block" align="center">
        [custom:get_main_menu:0]
        <a href="#"></a>
      </div>
    </td>
    <td class="content_block" valign="top">
    [page_content]
    </td>
  </tr>
</table>

<table border="0" align="center" class="footer">
  <tr>
    <td style="background:none;width:50px;padding:0;margin:0;">&nbsp;</td>
    <td>
      <!--LiveInternet counter--><script type="text/javascript"><!--
      document.write("<a href='http://www.liveinternet.ru/click' "+
      "target=_blank><img src='//counter.yadro.ru/hit?t44.5;r"+
      escape(document.referrer)+((typeof(screen)=="undefined")?"":
      ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
      screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
      ";"+Math.random()+
      "' alt='' title='LiveInternet' "+
      "border='0' width='31' height='31'><\/a>")
      //--></script><!--/LiveInternet-->
    </td>
    <td>
      &copy; 2002-2018 - ООО "ИТ Сервис" (Новосибирск)<br>
    </td>
    <td align="right">
      <a href="http://www.inet-s.ru/portfolio.htm">Создание сайта</a> "Инет Сервис"
    </td>
  </tr>
</table>

</body>
</html>