<div id="new_city" style="display:none"><img src="[image_url]/images/city.png"></div>
<table align="center" width="100%">
  <tr>
    <td colspan="2"><img id="map_russia" src="[image_url]/images/map_russia.gif"></td>
  </tr>
  <tr>
    <td>название:</td>
    <td>
      <input type="text" name="name" value="" style="width:200px">
      <input type="hidden" name="action_suffix" value="dilermap">
      <input type="hidden" name="action" value="add">
      <input type="hidden" id="new_city_x" name="x" value="" />
      <input type="hidden" id="new_city_y" name="y" value="" />
    </td>
  </tr>
</table>
