<div id="old_city" style="top:[y]px;left:[x]px;position:absolute;z-index:40"><img src="[image_url]/images/city_old.png"></div>
<div id="new_city" style="display:none"><img src="[image_url]/images/city.png"></div>
<table align="center" width="100%">
  <tr>
    <td colspan="2"><img id="map_russia" src="[image_url]/images/map_russia.gif"></td>
  </tr>
  <tr>
    <td>название:</td>
    <td>
      <input type="text" name="name" value="[name]" style="width:200px">
      <input type="hidden" name="id" value="[id]">
      <input type="hidden" id="new_city_x" name="x" value="[x]" />
      <input type="hidden" id="new_city_y" name="y" value="[y]" />
      <input type="hidden" name="action_suffix" value="dilermap">
      <input type="hidden" name="action" value="change">
    </td>
  </tr>
</table>
