<script type="text/javascript">
window.addEvent('domready', function() {
  select_form('[action]');
});
function select_form(form_name) {
  if (form_name == 'login') {
    $('register_form').setStyle('display', 'none');
    $('action').set('value', 'login');
    $('submit_button').set('value', 'Войти');
    $('login_link').setStyle('display', 'none');
    $('register_link').setStyle('display', 'inline');
  } else {
    $('register_form').setStyle('display', 'block');
    $('action').set('value', 'register');
    $('submit_button').set('value', 'Зарегистрироваться');
    $('login_link').setStyle('display', 'inline');
    $('register_link').setStyle('display', 'none');
  }
}
</script>

<form action="" method="post">

<div id="register_form" style="display:none">
<table class="login_form" align="center" valign="middle" style="width:500px">
  <tr>
    <td style="width:250px">Название организации / ФИО:</td>
    <td>
      <input type="text" name="title" value='[title]'>
      [error_title]
    </td>
  </tr>
</table>
</div>

<table class="login_form" align="center" valign="middle" style="width:500px">
  <tr>
    <td style="width:250px">E-mail:</td>
    <td>
      <input type="text" name="login" value='[login]'>
      [error_login]
    </td>
  </tr>
  <tr>
    <td>Пароль:</td>
    <td>
      <input type="password" name="passw" value=''>
      [error_passw]
    </td>
  </tr>
  <tr>
    <td><img src="/common/captcha.php"></td>
    <td>
      <input type="text" name="captcha_word" value=''>
      [error_captcha]
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input type="hidden" id="action" name="action" value='login'>
      <input type="submit" id="submit_button" value='Войти'>
    </td>
  </tr>
</table>
</div>

<center>
<a id="register_link" href="#register_form" onclick="select_form('register')">Зарегистрироваться</a>
<a id="login_link" style="display:none" href="#login_form" onclick="select_form('login')">Войти</a>
</center>

</form>