<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>[metadata_title]</title>
    <meta name="description" content="[metadata_description]">
    <meta name="keywords" content="[metadata_keywords]">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    [include_css_files]
    [include_js_files]
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">    
    [include_headers]
  </head>
<body>

<table class="header" border="0" align="center">
  <tr>
    <td class="logo">
      <a href="/"><img src="/images/b.gif" border="0" style="width:200px;height:150px"></a>
    </td>
    <td class="slogan">

    <img src="/images/slogan_image.png" align="right" style="margin-left:30px">

Компьютер выдает только то, что в него ввели. Секрет успеха не информация, но люди.
<br>
<div style="float:right">Л. Якокка</div>

<br><br><br>
ООО "ИТ Сервис" предлагает комплексное обслуживание вычислительной техники Вашего офиса.


    </td>
  </tr>
  <tr>
    <td class="second_bg">&nbsp;</td>
    <td class="address">

    <br>
    <br>

г. Новосибирск, ул. Обогатительная, 6, тел: 263-12-43

   </td>
  </tr>
  <tr>
    <td class="header_bottom_3rd">&nbsp;</td>
    <td class="header_bottom_4rd">&nbsp;</td>
  </tr>
</table>

<table class="content" border="0" align="center">
  <tr>
    <td class="menu" valign="top">
      <div class="menu_block" align="center">
        [custom:get_main_menu:0]
        <a href="#"></a>
      </div>
    </td>
    <td class="content_block" valign="top">
    <h1 class="title">Страница не найдена</h1>

Страница, к которой Вы обратились, не существует.<br>Возможно неправильно набран адрес?

    </td>
  </tr>
</table>

</body>
</html>