  <form id="[self_ID]_form_x" action="[action_value]" method="post" onSubmit="ajax_modalform_submit('[self_ID]', '_form_x');return false;">
    <table align="center" border="0" width="100%" height="100%">
      <tr>
        <td colspan="2" id="[self_ID]_content" height="100%">
[content]
        </td>
      </tr>
      <tr>
        <td align="center"><input type="button" value="Отменить" onclick="javascript:modalFormX_hide()"></td>
        <td align="center"><input id="[self_ID]_submit" type="submit" value="[submit_value]"></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><div id="[self_ID]_ajax_loading" style="display:none">[ajax_loading]</div></td>
      </tr>
    </table>
  </form>
