* {
  font-family: Verdana;
  font-size: 11px;
}

body {
  padding:0;
  margin:0;
  background-color: #fff;
  font-family: Arial;
}

table.login_form {
  border: 1px #000 solid;
  margin-top: 200px;  
  font-size: 15px;
  padding: 5px;
}

td.admin_menu {
  border-right: 1px #000 solid;
}


.box,.boxv,.box_v,.box_vx,.box_vh {
  text-align:left;
  vertical-align:middle;
  height: 20px;
/*  background-color: #FFFFFF;*/
  color: #000000;
  font: 13px Arial, Tahoma, Verdana, Arial, Helvetica, Ms Sans-seirf, sans-serif;
  font-weight:bold;
  line-height:20px;

}

tr.box:hover { background-color: #eee; }

#modal_form, #modal_form_x {
  position: absolute;
  border: 2px #000 solid;
  padding: 10px;
  min-width: 350px;
  min-height: 150px;
  display: none;
  background-color: white;
}

div.values {
  display: inline;
  padding-right:5px;
}

div.hidden_values {
  display: none;
}

div.gallery_edit_block {
  padding:10px;
  margin-bottom:10px;
  border: 1px #000 solid;
}

h1.doors_catalog {
  font-size: 20px;
}

div.div_menu_actions {
  position: absolute;
  margin-left: 10px;
  padding-left: 11px;
  padding-right: 10px;
  display:none;
  height:25px;
  padding-top:3px;
  background-color: #ddd;
}

span.news_date {
  font-size: 10px;
  color: #d00;
}

.empty_folder {
  background-color: #ccc;
}

#installed_modules {
  border-bottom: 1px #999 solid;
  padding: 10px;
}

.news_date {
  color: #d00;
  font-size: 10px;
}