<table border="0" width="100%" cellspacing="0" cellpadding="0" item_id="[menu_id]">
  <tr class="box">
    <td width="16" style="padding-left:[left_padding]px;cursor:move;" class="catalog_items_draggables">
      <img src="img/new.gif" width="16" height="16" align="middle" alt="" border="0">
    </td>
    <td width="100%" style="padding-left:5px">
      <a id="[field]_[menu_id]_name" href="[menu_href]" title="Изменить имя товара &quot;[name]&quot;" onmouseover="openActions('[field]', '[menu_id]')" onmouseout="closeActions('[field]', '[menu_id]')">
        [name]
      </a>
      <div id="[field]_[menu_id]_actions" class="div_menu_actions" onmouseover="openActions('[field]', '[menu_id]')" onmouseout="closeActions('[field]', '[menu_id]')">
[actions_block]
      </div>
    </td>
  </tr>
</table>