<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>[metadata_title]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    [include_css_files]
    [include_js_files]
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">    
</head>
<body>

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter525227 = new Ya.Metrika(525227);
             yaCounter525227.clickmap(true);
             yaCounter525227.trackLinks(true);
        
        } catch(e) {}
    });
})(window, 'yandex_metrika_callbacks');
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/525227" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

    <table border="0" align="center" class="header" style="width:720px">
      <tr>
        <td class="logo"><a href="/"><img border="0" src="/images/logo_resize.png" width="160px"></a></td>
        <td style="font-size:18px;text-align:center;width:80%"><a style="font-size:18px;color:#000" href="/">Главная</a> / Страница не найдена</td>
      </tr>
      <tr>
        <td colspan="2" align="center">Страница, к которой Вы обратились, не существует. Возможно неправильно набран адрес?</td>
      </tr>
    </table>

    <table border="0" align="center" class="menu" style="width:720px">
      <tr>
        <td class="last">
          <form action="">
          Поиск: <input type="text" name="fast_search" value="" style="width:500px"> <input type="submit" class="submit" value="искать">
          </form>
        </td>
      </tr>
    </table>

    <table border="0" align="center" class="content_block" style="width:720px">
      <tr>
        <td class="main_content" valign="top">
        [catalog:get_main_catalog_block:0]
        </td>
      </tr>
    </table>

    <table border="0" align="center" class="menu" style="width:720px">
      <tr>
        <td class="last">
          &copy; Компания "Лидер" 2010г
        </td>
      </tr>
    </table>

  </body>
</html>