<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>[metadata_title]</title>
    <meta name="description" content="[metadata_description]">
    <meta name="keywords" content="[metadata_keywords]">
    
    [include_css_files]
    [include_js_files]
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">    
    [include_headers]
  </head>
<body onload="getMap()">

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
(function (d, w, c) {
(w[c] = w[c] || []).push(function() {
try {
w.yaCounter48730901 = new Ya.Metrika({
id:48730901,
clickmap:true,
trackLinks:true,
accurateTrackBounce:true,
webvisor:true
});
} catch(e) { }
});
var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () { n.parentNode.insertBefore(s, n); };
s.type = "text/javascript";
s.async = true;
s.src = "https://mc.yandex.ru/metrika/watch.js";
if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48730901" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<div class="wrapper">
  <div class="header">
    <a class="logo" href="/"><img id="logo" src="/img/rsz_new_logo.png"></a>
    <div class="header_box">
      <div class="address">
        г.Томск, ул. Елизаровых, 49, офис 28<div style="padding-top:7px;">телефон: +7 (3822) 93-60-48</div>
      </div>
      <div class="clearfix"></div>
      <div class="menu">
        <a href="/?project_id=0">Проекты</a>
        <a href="/?cat_id=22">Клиенты</a>
        <a href="/?guestbook_id=0">Вопрос-ответ</a>
        <a href="/?cat_id=2">Контакты</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="content">
    <table class="content" cellspacing="0" cellpadding="0">
      <tr>
        <td class="column_left">
[catalog:get_catalog_html:0]
          <br>
          <a class="catalog_menu_top" href="/?cat_id=23">Услуги</a><br>
[custom:get_catalog_menu:23]
          <div class="news">
          <a class="title" href="/?news_id=0">Новости</a><br>
[news:get_news_list_main:0]
          </div>
        </td>
        <td class="column_center">
[page_content]
        </td>
        <td class="column_right">
          <form action="" method="get" id="search">
            <table align="center">
              <tr>
                <td><input type="search" class="searchfield" name="fast_search" value="мебель" onfocus="this.value='';"></td>
                <td><input type="submit" class="submit" value="Поиск"></td>
              </tr>
            </table>
          </form>

          <div class="finished_projects">
            <a class="title" href="/?project_id=0">Реализованные проекты</a>
[articles:get_news_list_main:0]
          </div>

          <div class="polls">
<!-- poll pollservice.ru begin -->
<script type="text/javascript" src="http://pollservice.ru/js/w/4.0/base.js"></script>
<div class="pollservice-poll" data-key="39yl8puwp3"></div>
<!-- poll pollservice.ru end -->
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="height:70px;">
          <div class="footer">
            <div class="copyright">

<div style="display:block;float:left;margin-right:10px;">
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t41.5;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet' "+
"border='0' width='31' height='31'><\/a>")
//--></script><!--/LiveInternet-->
</div>

              &copy; ТПК-ТоргСтрой, 2013<br>
              <a href="http://www.inet-s.ru/design.htm">Разработка сайта</a> - Инет Сервис
            </div>
            <div class="bottom_menu">
              <a href="/">На главную</a>
              <a href="/catalog/">Каталог</a>
              <a href="/?cat_id=2">Контакты</a>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

</body>
</html>