<table border="0" width="100%" cellspacing="0" cellpadding="0" class="[catalog_items_droppables]" catalog_id="[menu_id]">
  <tr class="box">
    <td width="16" style="padding-left:[left_padding]px;">
[toggle_menu_block]
    </td>
    <td width="16"><img src="img/ftv2folderopen.gif" width="16" height="22" align="middle" alt="" border="0"></td>
    <td width="100%" style="padding-left:5px">
      <a class="[class]" id="[field]_[menu_id]_name" href="[menu_href]" title="Изменить имя раздела &quot;[name]&quot;" onmouseover="openActions('[field]', '[menu_id]')" onmouseout="closeActions('[field]', '[menu_id]')">
        [name]
      </a>
      <div id="[field]_[menu_id]_actions" class="div_menu_actions" onmouseover="openActions('[field]', '[menu_id]')" onmouseout="closeActions('[field]', '[menu_id]')">
[actions_block]
      </div>
    </td>
  </tr>
</table>
