<h1>[name]</h1><br/>
<div style="float:left;margin-right:10px;margin-bottom:10px;">
<div class="catalog_item_image">[gallery1]</div>
<br>
<div class="catalog_item_cost" align="center">[cost] руб.</div>
</div>
[content]

<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,friendfeed,moikrug,gplus,surfingbird"></div>
