.error_pattern, .admin_error_pattern {
  text-align: center;
  background-color:#cc0000;
  color:#fff;
  font-family:Arial;
  font-size:15px;
  border: 1px dashed;
  font-weight: bold;
  padding: 10px;
}

.user_error_pattern {
  text-align: center;
  background-color:#eee;
  color:#333;
  font-family:Arial;
  font-size:15px;
  border: 1px #aaa solid;
  font-weight: bold;
  padding: 10px;
  width:300px;
}

.admin_error_pattern {
  width: 300px;
}

.div_message {
  padding-top: 15px;
  padding-bottom: 15px;
  width:100%;
}

.notification_pattern {
  text-align: center;
  background-color:#00cc00;
  color:#fff;
  font-family:Arial;
  font-size:15px;
  border: 1px dashed;
  font-weight: bold;
  padding: 10px;
  width: 40%;
}

.notification_message, .notification_message_js {
  position: fixed;
  top: 0px;
  padding: 0px;
  width:100%;
}

.notification_message_js {
  display:none;
}

.notify_ok {
  background-color:#00cc00 !important;
}

.notify_error {
  background-color:#cc0000 !important;
}
