<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr class="box">
    <td width="16" style="padding-left:[left_padding]px;">
[toggle_menu_block]
    </td>
    <td width="16"><img src="[module_url]/images/add_news.png" width="16" height="16" align="middle" alt="" border="0"></td>
    <td width="100%" style="padding-left:5px">
[menu_link]
      <div id="guestbook_[menu_id]_actions" class="div_menu_actions" onmouseover="openActions('guestbook', '[menu_id]')" onmouseout="closeActions('guestbook', '[menu_id]')">
[actions_block]
      </div>
    </td>
  </tr>
</table>